- if @posts.any?
  %ul
    - @posts.each do |post|
      %li
        %h2= "#{post['title']}"
        %p="#{post['content']}"
        %p.created= "Created on #{post['created_at']}"
        %a.admin{href: "/edit/#{post['id']}"} Edit
        %a.admin{href: "/delete/#{post['id']}"} Delete
%footer
  %a.create{href: "/create"} Create Post
  %br
  %a.btn.home{href: "/"} Return Home