- if @posts.any?
  %ul
    - @posts.each do |post|
      %li
        %h2= "#{blog['title']}"
        %p="#{blog['content']}"
        %p= Created at "#{blog['created_at']}"

%footer
  %button
    Login