- if @posts.any?
  %ul
    - @posts.each do |post|
      %li
        %h2
          %a.title{href: "/show_post/#{post['id']}"} #{post['title']}
        %p="#{post['content']}"
        %br
        %p.create= "Created at #{post['created_at']}"

%footer
  %a.btn{href: "/admin_connect"} Login